
.idea/dictionaries/Luca_D_Agostini.xml
.idea/misc.xml
.idea/.name
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/HQMediaPlayer.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/workspace.xml
*.pyc
*.pdn
*.lnk
.idea/vcs.xml
